In [8]:
i = 1

In [9]:
while i<66:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65

## While

In [13]:
i = int(input("Enter the number:"))
b = 1
while b<=10:
    print(i,"*",b,"=",i*b)
    b +=1

Enter the number: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Break

In [11]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

## Continue

In [14]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [16]:
i = int(input("Enter the number:"))
b = 1
while b<=10:
    print(i,"*",b,"=",i*b)
    if b == 3:
        break
    b +=1

Enter the number: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15

In [2]:
i = int(input("Enter the number:"))
b = 0
while b<=10:
    b +=1
    if b == 3:
        continue
    print(i,"*",b,"=",i*b)

Enter the number: 5

5 * 1 = 5
5 * 2 = 10
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55

## For Loop

In [11]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)
    for z in x:
        print(z)

apple
a
p
p
l
e
banana
b
a
n
a
n
a
cherry
c
h
e
r
r
y

In [8]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [14]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [17]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

## Range

In [41]:
for x in range(1,100,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [40]:
x = int(input("Enter number:"))
for x in range(x):
    print(x)

Enter number: 5

0
1
2
3
4

In [3]:
#Multiplcation
x = int(input("Enter number:"))
b = 1
for b in range(11):
    print(x,"*",b,"=",x*b)
    b +=1

Enter number: 5

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Function
#### block of code.uses to reduce the line of code

In [7]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [1]:
def my_function(fname, lname):
    print(fname + "  " + lname)
my_function("Emil", "Refsnes")

Emil  Refsnes

In [9]:
def my_function(food):
    for x in food:
        print(x)
fruits = ["apple","banana","cherry"]
my_function(fruits)
my_function(fruits)

apple
banana
cherry
apple
banana
cherry

In [10]:
def my_function(x):
    return 5*x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45